<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>     
    </session-config>
    <display-name>SuperBoletos</display-name>
    <filter>
        <filter-name>sesion</filter-name>
        <filter-class>com.sb.suites.bss.RedirectFilter</filter-class>
    </filter>
     <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <!--          indica la cantidad de segundos que será usada para chequear si el fichero de configuración ha sufrido cambios 
        y se requiere su recarga (-1 indica que no será recargado, usar en producción) -->
        <init-param>
            <param-name>confReloadCheckInterval</param-name>
            <param-value>1</param-value>
        </init-param>

        <!--         path del fichero de configuración (por defecto /WEB-INF/urlrewrite.xml) -->
        <init-param>
            <param-name>confPath</param-name>
            <param-value>/WEB-INF/urlrewrite.xml</param-value>
        </init-param>

        <!--         nivel de log (por defecto WARN) -->
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>sysout:ERROR</param-value>
        </init-param>

        <!--         path del monitor de estado del filtro, debe comenzar con / -->
        <init-param>
            <param-name>statusPath</param-name>
            <param-value>/rewriteStatus</param-value>
        </init-param>

        <!--         indica si el monitor de estado está activo (por defecto true) -->
        <init-param>
            <param-name>statusEnabled</param-name>
            <param-value>true</param-value>
        </init-param>

        <!--         hosts que tendrán acceso al monitor de estado, se puede usar el * como
        comodin (por defecto "localhost, local, 127.0.0.1") -->
        <init-param>
            <param-name>statusEnabledOnHosts</param-name>
            <param-value>localhost</param-value>
        </init-param>

        <!--         por defecto false. Indica que se usará el estilo de configuración del módulo mod_rewrite. 
        Si está activado buscará un fichero de configuración /WEB-INF/.htaccess (se puede modificar con el parámetro confPath) -->
        <init-param>
            <param-name>modRewriteConf</param-name>
            <param-value>false</param-value>
        </init-param>
        
    </filter>
     <filter-mapping>
        <filter-name>sesion</filter-name>
        <url-pattern>/s/*</url-pattern>
    </filter-mapping>
     <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <description>Spring MVC Dispatcher Servlet</description>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <distributable/>
    
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
     <!-- DWR Implementación con Anotaciones-->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    
    <!--  Pagina de Error-->
<!--    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/jsp/error/404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error/404.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
       
        <location>/jsp/error/uncaughtException.jsp</location>
    </error-page>-->
</web-app>
